In [3]:
import mysql.connector as connector

In [7]:
try:
    connection = connector.connect(
            host=os.getenv("DB_HOST"),
            port=int(os.getenv("DB_PORT", 3306)),
            user=os.getenv("DB_USER"),
            password=os.getenv("DB_PASSWORD"),
        )
    print("Succesfully Connected")
except:
    print("Connection failed")

Succesfully Connected

In [15]:
cursor = connection.cursor()

In [16]:
cursor.execute("USE little_lemon_db")

In [ ]:

#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [17]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [18]:
cursor.execute("""SELECT * FROM Bookings""")
print(cursor.column_names)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')

In [25]:

insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

insert_employees = """
INSERT INTO employees(EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

 #Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

 #Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [48]:
from mysql.connector.pooling import MySQLConnectionPool

In [ ]:
db_config = {
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASSWORD"),
    "host": os.getenv("DB_HOST"),
    "port": 3306,
    "database": os.getenv("DB_NAME")
}

In [6]:
try:
    pool = MySQLConnectionPool(
            pool_name="mypool",
            pool_size=2,
            **db_config
          
        )
    connection = pool.get_connection()
    cursor = connection.cursor()
    print("Connection Succesful")
except:
    print("Connection Failed")

Connection Succesful

In [ ]:

cursor.execute( """CREATE PROCEDURE PeakHours()
BEGIN
SELECT HOUR(BookingSlot) AS Hour ,COUNT(*) as no_bookings FROM Bookings GROUP BY Hour ORDER BY no_bookings DESC;
END""")

print("Procedure is succesfully created")

In [7]:
cursor.callproc("PeakHours")

for r in cursor.stored_results():
    result = r.fetchall()
    for t in result:
        print(f"Booking Hour: {t[0]} Number of Bookings: {t[1]}")

Booking Hour: 19 Number of Bookings: 2
Booking Hour: 15 Number of Bookings: 1
Booking Hour: 17 Number of Bookings: 1
Booking Hour: 18 Number of Bookings: 1
Booking Hour: 20 Number of Bookings: 1

In [42]:
cursor.execute("""CREATE PROCEDURE GuestStatus()
BEGIN
SELECT CONCAT(b.GuestFirstName,' ',b.GuestLastName), 
CASE 
WHEN Role IN ("Manager","Assistant Manager") THEN "Ready to pay"
WHEN Role ="Head Chef" THEN "Ready to serve"
WHEN Role ="Assistant Chef" THEN "Preparing Order"
WHEN Role ="Head Waiter" THEN " Order served"
ELSE Role
END AS Status
FROM Bookings AS b INNER JOIN Employees as e ON b.EmployeeID = e.EmployeeID;
END""")

In [43]:

cursor.callproc("GuestStatus")

for r in cursor.stored_results():
    dataset= r.fetchall()
    for t in dataset:
        print(f"Name:{t[0]}  Status: {t[1]}")

Name:Anna Iversen  Status: Ready to pay
Name:Joakim Iversen  Status: Ready to pay
Name:Vanessa McCarthy  Status: Ready to serve
Name:Marcos Romero  Status: Preparing Order
Name:Hiroki Yamane  Status: Ready to pay
Name:Diana Pinto  Status:  Order served

In [8]:
try:   
    cursor.close()
    connection.close()
    print("Returned Connection back to the pool")
except:
    print("Failed to close connection")

Returned Connection back to the pool

In [26]:

try:
    pool_b = MySQLConnectionPool(pool_name="new_pool",pool_size=2,**db_config)
    print("Pool is succesfully created")
except:
    print("Failed to create pool")

Pool is succesfully created

In [28]:
 #Connect 2 Guests and showcase how to handle the pool if its full
import mysql.connector
from mysql.connector import pooling, Error


import mysql.connector
from mysql.connector import pooling, Error


try:
    # User 1 connection and insert
    user_1 = pool_b.get_connection()
    cursor1 = user_1.cursor()
    cursor1.execute("""INSERT INTO Bookings(TableNo,GuestFirstName,GuestLastName,BookingSlot,EmployeeID) 
                       VALUES (8, 'Anees', 'Java', '18:00:00', 6);""")
    user_1.commit()
    print("Guest 1 is connected and data inserted")

    # Close the cursor and connection immediately after committing
    cursor1.close()
    user_1.close()

    # User 2 connection and insert
    user_2 = pool_b.get_connection()
    cursor2 = user_2.cursor()
    cursor2.execute("""INSERT INTO Bookings(TableNo,GuestFirstName,GuestLastName,BookingSlot,EmployeeID) 
                       VALUES (5, 'Bald', 'Vin', '19:00:00', 6);""")
    user_2.commit()
    print("Guest 2 is connected and data inserted")

    # Close the cursor and connection immediately after committing
    cursor2.close()
    user_2.close()

    # User 3 connection and insert
    try:
        user_3 = pool_b.get_connection()
    except pooling.PoolError:
        print("Pool is full, creating a new connection for Guest 3")
        conn = mysql.connector.connect(user= os.getenv("DB_USER"),password=os.getenv("DB_PASSWORD"))
        pool_b.add_connection(cnx=conn)
        user_3 = pool_b.get_connection()

    cursor3 = user_3.cursor()
    cursor3.execute("""INSERT INTO Bookings(TableNo,GuestFirstName,GuestLastName,BookingSlot,EmployeeID) 
                       VALUES (12, 'Jay', 'Kon', '19:30:00', 6);""")
    user_3.commit()
    print("Guest 3 is connected and data inserted")

    # Close the cursor and connection immediately after committing
    cursor3.close()
    user_3.close()

except Error as e:
    print("An Error Occurred")
    print(f"Error: {e}")

Guest 1 is connected and data inserted
Guest 2 is connected and data inserted
Guest 3 is connected and data inserted

In [36]:
#Check if values was inserted
connection = connector.connect(
            port=3306,
            host=os.getenv("DB_HOST"),
            user=os.getenv("DB_USER"),
            password=os.getenv("DB_PASSWORD"),         
        )
cursor = connection.cursor()
print("Succesfully Connected")
cursor.execute("""USE little_lemon_db""")
cursor.execute("""SELECT * FROM Bookings""")
result = cursor.fetchall()
print(result)

Succesfully Connected
[(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1), (2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1), (3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3), (4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4), (5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2), (6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5), (9, 8, 'Anees', 'Java', datetime.timedelta(seconds=64800), 6), (10, 5, 'Bald', 'Vin', datetime.timedelta(seconds=68400), 6), (11, 12, 'Jay', 'Kon', datetime.timedelta(seconds=70200), 6), (12, 8, 'Anees', 'Java', datetime.timedelta(seconds=64800), 6), (13, 5, 'Bald', 'Vin', datetime.timedelta(seconds=68400), 6), (14, 12, 'Jay', 'Kon', datetime.timedelta(seconds=70200), 6)]

In [14]:
try:
   
     connection = connector.connect(host=os.getenv("DB_HOST"),
                                    port=3306, 
                                    user=os.getenv("DB_USER"),
                                    password=os.getenv("DB_PASSWORD"))
    print("Succesfully Connected")
    cursor = connection.cursor()
    print("Cursor is Created")
except:
    print("Failed to Connect")

Succesfully Connected
Cursor is Created

In [36]:
cursor = connection.cursor()
cursor.execute(""" USE little_lemon_db""")

In [24]:
#Analysis
cursor.execute(""" SELECT Name, EmployeeID FROM Employees WHERE Role = "Manager";""")
manager = cursor.fetchall()
for r in manager:
    print(f"Manager : {r[0]}, EmployeeID: {r[1]}")

cursor.execute(""" SELECT Name, Role FROM Employees WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM Employees);""")
highest_salary = cursor.fetchall()
for l in highest_salary:
    print(f"Employee with the highest Salary is {l[0]} with the role of {l[1]}")

Manager : Mario Gollini, EmployeeID: 1
Employee with the highest Salary is Mario Gollini with the role of Manager

In [31]:
cursor.execute(""" SELECT COUNT(*) FROM Bookings WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';""")
no_bookings= cursor.fetchall()
print(no_bookings)

[(10,)]

In [33]:

cursor.execute("""SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID FROM Bookings ORDER BY BookingSlot DESC;""")


guest = cursor.fetchall()

# Print the results
for g in guest:
    print(f"Full Name: {g[0]}, BookingID: {g[1]}")

Full Name: Diana Pinto, BookingID: 6
Full Name: Jay Kon, BookingID: 11
Full Name: Jay Kon, BookingID: 14
Full Name: Anna Iversen, BookingID: 1
Full Name: Joakim Iversen, BookingID: 2
Full Name: Bald Vin, BookingID: 10
Full Name: Bald Vin, BookingID: 13
Full Name: Hiroki Yamane, BookingID: 5
Full Name: Anees Java, BookingID: 9
Full Name: Anees Java, BookingID: 12
Full Name: Marcos Romero, BookingID: 4
Full Name: Vanessa McCarthy, BookingID: 3

In [47]:
cursor.execute(""" CREATE PROCEDURE BasicSalesReport()
BEGIN
SELECT SUM(BillAmount), AVG(BillAmount),MAX(BillAmount),MIN(BillAmount) FROM Orders;""")
#Call the stored procedure
cursor.callproc("BasicSalesReport")

# Process each stored result
for r in cursor.stored_results():
    sales_report = r.fetchall()  
    # Print the results
    for l in sales_report:
        print(f"Total Sales today: {l[0]}$, Average Bill Amount: {l[1]}, Highest Bill: {l[2]}, Lowest Bill: {l[3]}")

Total Sales today: 243$, Average Bill Amount: 48.6000, Highest Bill: 86, Lowest Bill: 37

In [49]:
#New Exercise
from mysql.connector.pooling import MySQLConnectionPool

try:
    pool = MySQLConnectionPool(pool_name="mypool",
                               pool_size=5,
                               user=os.getenv("DB_USER"),
                               password=os.getenv("DB_PASS"),
                               host=os.getenv("USER_HOST"),
                               port=3306,
                               database="little_lemon_db")
    print("Pool is created")
    
    connection = pool.get_connection()
    
    cursor = connection.cursor(buffered=True)
    
    query = """
    SELECT 
        CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS FullName,
        b.BookingID,
        e.EmployeeID,
        e.Name AS EmployeeName
    FROM 
        Bookings b
    JOIN 
        Employees e ON b.EmployeeID = e.EmployeeID
    ORDER BY 
        FullName ASC
    LIMIT 3;
    """
    
    cursor.execute(query)

    results = cursor.fetchall()
    
    for row in results:
        print(f"Full Name: {row[0]}, BookingID: {row[1]}, EmployeeID: {row[2]}, Employee Name: {row[3]}")
        
except Exception as e:
    print(f"Failed to create pool or get connection: {e}")
    
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Pool is created
Full Name: Anees Java, BookingID: 9, EmployeeID: 6, Employee Name: John Millar
Full Name: Anees Java, BookingID: 12, EmployeeID: 6, Employee Name: John Millar
Full Name: Anna Iversen, BookingID: 1, EmployeeID: 1, Employee Name: Mario Gollini